.about {
    margin-top: 156px;
    display: flex;

}
.about::before, .about__desc {
    
    border-radius: 4px;
}
.about::before {
    content: "";    
    width: 494px;
    height: 502px;
    background: url(/img/cameraman.jpg) center center / cover no-repeat;
    display: block;
}
.about__desc {
    background: #ffffff;
    padding: 70px 0 0 98px; 
    max-width: 778px;
    min-height: 460px;
    margin-top: 105px;
    margin-left: -131px;
}
.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
}
.about__desc-text {
    margin-bottom: 42px;
    color: #000;
}
.about__desc-text p {
    margin-bottom: 121px;
}
.about__desc-text p :last-child {
    margin-bottom: 0;
}