.footer-container {
    margin-top:auto;     
} 


.footer--col-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.footer {
    height: 135px;    
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.contacts__desc {
    color: #ffffff;
    font-size: 11px;
    line-height: 125%;
}
