.footer-container {
    margin-top:auto;     
}   
.footer {
    height: 135px;
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--aligen-right {
    justify-content:flex-end;
}
.contacts__desc {
    color: #ffffff;
    font-size: 11px;
    line-height: 125%;
}
.menu-footer {
    margin-left: 68px;
}
